:root {
    --umbreon-bgc: #697585;
    --umbreon-text: #3F4650;
}

body {
    background-color: var(--umbreon-bgc);
    color: var(--umbreon-text);
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: var(--umbreon-bgc);
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav>h1 {
    text-align: center;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

nav li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--umbreon-text);
}

a:hover {
    text-decoration: underline var(--umbreon-text) 2px;
}

/* Main content */
main {
    width: 95%;
    margin: auto;
    position: relative;
    top: 7.5rem;
    overflow: hidden;
}

section#about {}

#prof-pic {
    width: 100%;
    border-radius: 2rem;
}

#about>h2 {
    text-align: center;
}

#about>p {
    text-align: justify;
}