:root {
    --color1: #F8F3F2;
    --color2: #13293D;
    --color3: #63B4D1;

    --bgc: var(--color1);
    --text: var(--color2);
    --emph: var(--color3);

 }

body {
    background-color: var(--bgc);
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: var(--bgc);
    width: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 0 0px 5px var(--emph);
}

nav>h1 {
    text-align: center;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

nav li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text);
}

a:hover {
    text-decoration: underline var(--text) 2px;
}

/* Main content */
main {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    top: 7.5rem;
    overflow: hidden;
}

h2 {
    color: var(--text);
    text-align: center;
    font-weight: bold;
}

section p {
    text-align: justify;
    font-weight: bold;
    
}

#about {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#prof-pic {
    width: 100%;
    max-width: 300px;
    border-radius: 2rem;
}

div.project {
    width: 95%;
    max-width: 400px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 80%;
}

#skills>div {
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.material-icons {
    color: var(--emph);
}

/* .material-icons:hover {
    transition: .5s;
    color: var(--darkmodetext);
    
} */

#contact {
    width: 85%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
}
#contact p {
    text-align: center;
}

#foot {
    text-align: center;
}
#foot>.material-icons {
    font-size: 11px;
    color:red;
}

/* Color mode button feature */
#color-mode {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: var(--color2);
    z-index: 4;

    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--emph);
}

